extends ../layout
block content
  div.page-header
    h1 Our Community Members
    p People sharing food in your area
  table.users-table
    thead
      tr
        th Name
        th Email
        th Location
        th Joined
        th Action
    tbody
      each user in users
        tr
          td
            img.avatar-small-img(src='/img/costmor' + (((user.id - 1) % 4) + 1) + '.jpg' alt=user.name)
            strong= user.name
          td= user.email
          td= user.location
          td= new Date(user.created_at).toLocaleDateString()
          td
            a.btn(href='/users/' + user.id) View Profile
  div.users-grid
    each user in users
      div.user-card
        img.avatar-img(src='/img/costmor' + (((user.id - 1) % 4) + 1) + '.jpg' alt=user.name)
        h3= user.name
        p ✉️ #{user.email}
        p 📍 #{user.location}
        a.btn(href='/users/' + user.id) View Profile